.idea/
__pycache__/
docs/
*.db
*.spec
*.exe
*.zip
*.toc
*.pkg
*.pyz
*.manifest
windows.py
run_server.py
server/__init__.py
.vscode/

.vscode/settings.json
server/common/resources/images/externos/
server/common/resources/images/notificaciones/
server/common/resources/images/areascomunes/
some_image.jpg
.vscode
venv/
nohup.out
server/common/resources/images/encuestas/
ssl/
settings.ini