
{%extends ../../../common/views/layout.html%}
{%block style%}
{% set user = usuario %}
      <style>
          /* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  height: 100%;
  display: flex;
}

#sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

#map {
    width:100%;height:900px;
}
</style>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  </head>
  <body>
    <div id="container">
        <div class="form-group">
            <div id="map" style="width:100%;height:900px;"></div>
        </div>
      <div id="sidebar">
        <p>Total Distance: <span id="total"></span></p>
        <div id="panel"></div>
      </div>
    </div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    {%end%}
{% block script %}
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYuxmOHMh_fazXttqunper3Wpj5XtooFY&callback=initMap&libraries=&v=weekly"
      async
    ></script>
    <script>
        function initMap() {
        debugger
        $("#pedirvan")
       const directionsService = new google.maps.DirectionsService();
       const origen = {lat : -17.815758497571007,lng:-63.11517695293991};
       const destino = {lat :-17.795011,lng:-63.1653277};
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 12,
        center: origen,// Australia.

      });
      //directionsRenderer.setTableMap(map);
      console.log(document.getElementById("panel"))
      const directionsRenderer = new google.maps.DirectionsRenderer({
        draggable: true,
        map,
        panel: document.getElementById("panel"),
      });

  directionsRenderer.addListener("directions_changed", () => {
      debugger
    const directions = directionsRenderer.getDirections();
    if (directions) {
      computeTotalDistance(directions);
    }
  });

  google.maps.event.addListener(map, 'click', function(event) {
                                        console.log(event.latLng)
                                        placeMarker(map,event.latLng)
                                  });

  displayRoute(
    origen,
   destino,

    directionsService,
    directionsRenderer
  );
}

function displayRoute(origin, destination, service, display) {
    debugger
  service
    .route({
      origin: origin,
      destination: destination,
   //   waypoints: [
   //     { location: "Adelaide, SA" },
   //     { location: "Broken Hill, NSW" },
   //   ],
      travelMode: google.maps.TravelMode.DRIVING,
      avoidTolls: true,
    })
    .then((result) => {
      display.setDirections(result);
    })
    .catch((e) => {
      alert("Could not display directions due to: " + e);
    });
}

function computeTotalDistance(result) {
debugger
  let total = 0;
  const myroute = result.routes[0];

  if (!myroute) {
    return;
  }

  for (let i = 0; i < myroute.legs.length; i++) {
    total += myroute.legs[i].distance.value;
  }
  total = total / 1000;
  document.getElementById("total").innerHTML = total + " km";
}


function placeMarker(map,location) {
                  debugger
                  // setMapOnAll(null);
                  var marker = new google.maps.Marker({
                      position:location,
                      map: map,
                      title: "mi ubicacion",
                  });

                  $('#latitud').val(location.lat());
                  $('#longitud').val(location.lng());
                  var infowindow = new google.maps.InfoWindow({
                      content: 'Latitude: ' + location.lat() + '<br>Longitude: ' + location.lng()
                  });
                  infowindow.open(map,marker);
                  markers.push(marker);
              }

    </script>

{% end %}
